* {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}

a {
	text-decoration: none;
	color: #E5E9F0;
}

a:hover {
	color: #8FBCBB;
}

body {
	display: flex;
	flex-direction: column;
	text-align: center;
}

img { 
	vertical-align: middle;
}
